# Xcode
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.xcuserstate
*.hmap
*.ipa
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (only relevant if you add pods later)
Pods/

# macOS
.DS_Store
